@import '/src/styles/colors.scss';

.movie-details-banner {
  background-color: $pure-black;
  background-size: cover;
  background-position: center;
  position: relative;

  &__wrapper {
    background-color: $transparent-black;
  }

  &__content {
    min-height: 448px;
    display: grid;
    grid-template-columns: 256px 1fr;
    align-items: flex-start;
  }

  &__poster {
    margin-top: 2.5rem;
    width: 256px;
    height: 384px;
    background-size: cover;
  }

  &__info {
    margin: 0;
    padding: 2rem;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 0.5rem;
    margin: 0;
    font-size: 32px;
    color: $main-white;

    :first-child {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      font-weight: 700;
    }

    :last-child {
      font-weight: 100 !important;
      color: $transparent-white;
    }
  }

  &__more-info {
    font-size: 16px;
    font-weight: 200;
    color: $transparent-white;
  }

  &__score {
    user-select: none;
    margin: 1.5rem 0;
    display: flex;
    gap: 1.5rem;
  }

  &__my-score,
  &__average-score {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $main-white;
    font-size: 16px;
    line-height: 19px;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__details {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__detail-item {
    color: $light-gray;
    font-size: 14px;
    font-weight: 200;

    span {
      font-weight: 600;
    }
  }
}
