@font-face {
  font-family: 'Signika';
  src: url('/public/fonts/signika-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/public/fonts/signika-light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/public/fonts/signika-medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/public/fonts/signika-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/public/fonts/signika-semibold.ttf') format('truetype');
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}
