@import './globals.css';
@import './font.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding-top: 84px;
  }
}

body {
  font-family: 'Signika', sans-serif;
  font-weight: 400; /* Regular */
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 600; /* Semi-bold */
}

h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif;
  font-weight: 500; /* Medium */
}

strong {
  font-family: 'Signika', sans-serif;
  font-weight: bold; /* Bold */
}
