@import '/src/design/colors.scss';

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84px;

  display: flex;
  align-items: center;

  background-color: $main-black;
  color: $main-white;

  &--logo > svg {
    height: 24px;
    width: auto;
  }
}
